
*{
	padding:0px 0px 0px 0;
	margin:0 0 0 0;	
}



h1 { 
font-family: Tahoma;
font-size: 14px;
margin-top : 1em;
margin-left:1%;
color : #00af2f;

font-weight : bold;
cursor : default;
}

.h1grande{
	
	margin : auto;
	font-size: small;
	font-size: 110%;
	
	font-weight : bold;
	cursor : default;
	
}

.h1grande.verde{
	color : #00af2f;
}

.h1grande.azul{
	color : #003366;
}


.h1grande.gris{	
	color: #999999;	
}


.h1grande.rojo{	
	color: red;	
}

.h1grande.verdeclaro{	
	color: #99ff99;	
}

.h1grande.amarillo{	
	color: #ffff99;	
}

body{
	font-family: Tahoma;
	font-size: 14px;

}

a{
	text-decoration:none;
}
a:link{color:blue;}
a:visited{color:#007f2f;}
a:hover {
text-decoration: underline;
}


h3 a:hover {
	background:#C8D7E3;
	text-decoration: none;
	color:#000;
	height: 11pt;

}


#fondo{
	display: block;
	margin-top:0;
	background-color:#ffffff;
	width:100%;
	height:100%;
}


#marcoizq{
	
	display: block;

	

	background-color:#F0F0F0;

}





/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#cabecerasinfondo{
	display: inline-block;
	width:100%;
	height:88px;
	margin:auto;
	color: #ffffff;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-align:center;
	
}

.fondoverdeclaro{	
	background-color: #99ff99;	
}

/************* #globalNav styles **************/





img {
	width: 25%;
  	height: 88px;
	object-fit:fill;
	padding:0;
	margin:0;
	float: left;
	
}

.img-model img{ /* width="300" height="150" */
	
	width: 100%;
  	height: auto;
	padding:0;
	margin:0;
	float: center;
}

.img-FUI img{ /* width="300" height="150" */
	
	width: 100%;
  	height: auto;
	padding:0;
	margin:0;
	float: center;
}

.img-models img{ 
	
	width: 100%;
  	height: auto;
	padding:0;
	margin:0;
	float: center;
}


#separador{
	display: block;
	width:100%;
	height:10px;
	margin:auto;
	


	background-color:#999999;
	color: #ffffff;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-align:center;
}

#cuerpo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	display: block;
	width:95%; /* en móviles*/
	height:auto;
	margin-left:2.5%;
	margin-right:2.5%;
	text-align:justify;
	font-size: 14px;
}



#cuerpo ul{
	list-style-position:inside;
	
}

#cuerpo ul li{
	padding:5px;
	

}

.tituloseccion2{

	
	padding-top:2%;
		
	padding-bottom:2%;
	font-style: normal;
	font-weight: bold;
	font-size: medium;
	font-size: 133%;
	
	color: #003366;
	margin:auto;
	text-align:center;
}
.textogrande{
	font-size: medium;
	font-style: normal;
	font-size: 115%;
	text-wrap:balance;
	overflow-wrap: break-word;
	
}

#texto{
	
	display: block;
	width:95%;
	margin-left: 2.5%;
	margin-right: 2.5%;

	margin-top: 1%;
	margin-bottom: 5px;

}

#texto ul{

	list-style-position:inside;
	margin-left: 0%;
	padding-left: 2em;

	margin-right: 10%;
	margin-bottom: 5px;
	text-align:justify;
}


#texto ul li{
	padding:5px;
	

}

#texto ol{

	margin-left: 0%;
	padding-left: 2em;

	margin-right: 5%;
	margin-bottom: 5px;
	text-align:justify;
	
	font-size: 90%;
}


#siteName{
 font-family: Verdana,Arial,sans-serif;
 font-size: 120%;
 color: #334d55;
 margin: 0px;
 padding: 0px 0px 10px 10px;
}






/********** MENUS ************ */


#menu-nav2{
	width:100%;
	display: block;
	
	margin: auto;

	padding: 0px;
	background-color: #ffff66;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	
	
}
#menu-nav2 a:link{color:#000000; font-weight: bold}
#menu-nav2 a:visited{color:#33cc33;}

#menu-nav2 ul a:link, #menu-nav2 ul a:visited {display: block;}
#menu-nav2 ul {list-style: none; margin: 0; padding:0;}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#menu-nav2 li {border-bottom: 1px solid #EEE; font-size:11pt;padding: 0px 0 0px 0;}

/* fix for browsers that don't need the hack */
html>body #menu-nav2 li {border-bottom: none;}


/*********** #sectionLinks styles ***********/

#sectionLinks{
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
}

#sectionLinks ul{}

#menu-nav2 li, #sectionLinks li{list-style:none;}


#sectionLinks a:link{
	padding: 2px 0px 10px 10px;
	border-top: 1px solid #cccccc;
	width: 100%;
  voice-family: "\"}\""; 
  voice-family:inherit;
	width: auto;
	
	
	
}

#sectionLinks a:visited{
	border-top: 1px solid #cccccc;
	padding: 2px 0px 10px 10px;
}

#sectionLinks a:hover{
	padding: 2px 0px 10px 10px;
	border-top: 1px solid #cccccc;
	background-color: #dddddd;
	
	
}

	.titulo3{
	
		display:none;

	}

	#siteInfo{
		clear: both;
		width:100%;
		margin-left: 2.5%;

		border: 1px;
		border-top-style: solid;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: none;
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-right: 0px;
		border-left: 0px;
		font-size: 75%;
		color: #4f4f4f;

		border-top-color: #003366;
		line-height: normal;
		letter-spacing: normal;
		vertical-align: baseline;
		word-spacing: normal;
		height: auto;
		clip:  rect(auto auto auto auto);
	}
/*********************************************************** FOR LARGER SCREENS (NOT MOBILES) **********************************************/
@media (min-width: 600px) {
   
	
	img {
		width: 223px;
		height: 124px;
		object-fit: cover;
		padding:0;
		margin:0;
		float: left;
	}
	

	
	#cabecerasinfondo{
		display: block;
		width:75%;
		height:124px;
		margin-top:10px;
		margin-left: 12.5%;
		margin-right: 12.5%;

		color: #ffffff;

		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: bold;
		text-align:center;

	}
	


	#separador{
		display: block;
		width:75%;
		height:25px;
		margin-top:0px;
		margin-left: 12.5%;
		margin-right: 12.5%;



		background-color:#999999;
		color: #ffffff;

		font-family: Arial, Helvetica, sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: bold;
		text-align:center;
	}

	
	
	#cuerpo{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		float:right;
		display: block;
		width:48%; /* anchura de la cabecera - anchura marco izq */
		height:90%;
		margin-top:0px;
		margin-left: 2%;
		margin-right: 12.5%; /* porque el cuerpo del documento (65)% deja 17% a cada lado */
		text-align:justify;
		font-size: 14px;
	}
	
	#texto{
	
		display: block;
		width:75%;
		margin-left: 12.5%;
		margin-right: 12.5%;

		margin-top: 1%;
		margin-bottom: 5px;

	}
	
	#texto ol{

		margin-left: 0%;
		padding-left: 2em;

		margin-right: 10%;
		margin-bottom: 5px;
		text-align:justify;
		
		font-size:100%;
	}
	
	.img-model img{ /* width="300" height="150" width="1185" height="667"*/
		display:inline;
		width: 300px;
		height: 150px;
		padding:10px;
		margin-left: 12.5%;
		margin-right: 12.5%;

		float: none;
	}
	
	
	.img-models img{ /* width="300" height="150" width="1185" height="667"*/
		display:inline;
		width: 1185px;
		height: auto;
		padding:10px;
		margin-left: 12.5%;
		margin-right: 12.5%;

		float: none;
	}
	
	.img-FUI img{ /* width="300" height="150" width="1185" height="667"*/
		display:inline;
		width: 600px;
		height: auto;
		padding:10px;
		margin-left: 12.5%;
		margin-right: 12.5%;

		float: none;
	}

	.tituloseccion2{
		padding-top:30px;
		padding-bottom:20px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: bold;
		color: #003366;
		text-align:left;
	}
	.textogrande{
		font-size: medium;
		font-style: normal;
		font-size: 133%;

	}
	
	.titulo3{
		display:block;
		text-align:left;
		margin-bottom:5px;
		margin-left:5px;

	}
	
	.titulo3{

		text-align:left;
		margin-bottom:5px;
		margin-left:5px;

	}

	.titulo3 ul{
		list-style-position:inside;

	}

	.titulo3 ul li{
		padding:5px;


	}

	.titulo3 OL{
		list-style-position:inside;

	}

	.titulo3 OL li{
		padding:5px;


	}
	
	.h1grande{
		font-family: Tahoma;

		margin:auto;
		padding-top:2%;


		font-weight : bold;
		cursor : default;
		font-size: 23px;
	}
	
	
	
	h3{
		text-align: center;

	}


	#fondo{
		background-color:#ffffff;
		
	}
	
	#marcoizq{
		float:left;
		display: block;
		width:25%;
		height:90%;
		margin-top:0px;
		margin-left: 12.5%;


		background-color:#F0F0F0;

	}
	
	
	
	#marco3 {
		background:#BCCDDB
	  url("../imagenes/multitest.jpg") repeat-x 0% 0%;
/*	  url("../imagenes/menu-links-gradient.gif") repeat-x 0% 0%;  */
		border-top:#3D474E solid 1px;
	
		border-bottom:#98B1C4 solid 1px;
		border-color:green;
		color:#666;
		clear:both;
		margin:0px;
		
		height:58pt;

	}

	
	
	#menu-nav2{
		width:225px;

		margin: 0 0 0 0;

		margin-top: 16%;

		margin-left: 5%;
		margin-bottom: 10px;
		padding: 0px;
		background-color: #ffff66;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	
	
	}
	#menu-nav2 a:link{color:#000000; font-weight: bold}
	#menu-nav2 a:visited{color:#33cc33;}

	#menu-nav2 ul a:link, #menu-nav2 ul a:visited {display: block;}
	#menu-nav2 ul {margin: 0; padding:0;}

	/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
	#menu-nav2 li {border-bottom: 1px solid #EEE; font-size:11pt;padding: 0px 0 0px 0;}

	/* fix for browsers that don't need the hack */
	html>body #menu-nav2 li {border-bottom: none;}
	

	#siteInfo{
		clear: both;
		width:75%;
		margin-left: 12.5%;

		border: 1px;
		border-top-style: solid;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: none;
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-right: 0px;
		border-left: 0px;
		font-size: 75%;
		color: #4f4f4f;

		border-top-color: #003366;
		line-height: normal;
		letter-spacing: normal;
		vertical-align: baseline;
		word-spacing: normal;
		height: auto;
		clip:  rect(auto auto auto auto);
	}
	
} /********************************************************* close for larger screem ****************************************************************************************/





.alignright {	float: right;	}
.alignleft {	float: left;	}
.align {margin: 0 0px 5px 83%;display: inline; }

img.centered {	display: block;	margin-left: auto;	margin-right: auto;	}
img.alignright { margin: 0 0px 5px 0;	display: inline;	}
img.alignleft {		margin: 0 0px 0px 2%;	display: inline;	}

#clear{clear:both;}



.titulosubseccion {
	text-align:left;
	padding-top:30px;
	padding-bottom:20px;
	margin-left:5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}

.azul{	
	color: #003366;	
}


.gris{	
	color: #999999;	
}


.Rojo{	
	color: red;	
}


.fondoazul{	
	background-color: #003366;	
}




.fondoamarillo{	
	background-color: #ffff99;	
}



.cursiva{
	
	font-style:italic;	
}

.negrita{
	font-weight: bold;		
}


.ligera{
	font-weight:lighter	;
}

.grisclara{
	color: #bbbbaa;	
}

.textojustificado{
	text-align:justify;	
	margin-left:5px;
	margin-right:7px;
}

.textojustificadoizq{
	text-align:left;	
	margin-left:5px;
	margin-right:7px;
}

.firma{
	font-size: medium	
}





